@model Bibliotheque_LIPAJOLI.Models.Livre

@{
    ViewData["Title"] = "LIPAJOLI - Ajout livre";
}

<h1>Ajouter un livre</h1>

<h4>Livre</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Isbn10" class="control-label"></label>
                <input placeholder="1-11111-111-1" asp-for="Isbn10" class="form-control" />
                <span asp-validation-for="Isbn10" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Isbn13" class="control-label"></label>
                <input placeholder="111-1-11111-111-1" asp-for="Isbn13" class="form-control" />
                <span asp-validation-for="Isbn13" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titre" class="control-label"></label>
                <input asp-for="Titre" class="form-control" />
                <span asp-validation-for="Titre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categorie" class="control-label"></label>
                <select asp-for="Categorie" class="form-control" asp-items="ViewBag.Categories">
                </select>   
                <span asp-validation-for="Categorie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantite" class="control-label"></label>
                <input asp-for="Quantite" class="form-control" />
                <span asp-validation-for="Quantite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prix" class="control-label"></label>
                <input type="number" asp-for="Prix" class="form-control" />
                <span asp-validation-for="Prix" class="text-danger"></span>
            </div>
            <div class="form-group"> Auteur(s) - Pour sélectionner plusieurs auteurs, maintenez la touche CTRL lors de la sélection <br /> 
                <select name="auteurs" class="form-control" multiple asp-items="ViewBag.Auteurs">
                </select>
                <span asp-validation-for="Auteurs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ajouter" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste des livres</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
