@model Bibliotheque_LIPAJOLI.Models.Livre

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Livre</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CodeLivre" />
            <div class="form-group">
                <label asp-for="Isbn10" class="control-label"></label>
                <input asp-for="Isbn10" class="form-control" />
                <span asp-validation-for="Isbn10" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Isbn13" class="control-label"></label>
                <input asp-for="Isbn13" class="form-control" />
                <span asp-validation-for="Isbn13" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titre" class="control-label"></label>
                <input asp-for="Titre" class="form-control" />
                <span asp-validation-for="Titre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categorie" class="control-label"></label>
                <input asp-for="Categorie" class="form-control" />
                <span asp-validation-for="Categorie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantite" class="control-label"></label>
                <input asp-for="Quantite" class="form-control" />
                <span asp-validation-for="Quantite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prix" class="control-label"></label>
                <input asp-for="Prix" class="form-control" />
                <span asp-validation-for="Prix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Auteurs" class="control-label"></label>
                <input asp-for="Auteurs" class="form-control" />
                <span asp-validation-for="Auteurs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
