@model Bibliotheques.MVC.Models.Emprunt

@{
    ViewData["Title"] = "Effectuer un emprunt";
}

<h1>Effectuer un emprunt</h1>

<h4>Un nouvel emprunt</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h5>Sélectionnez l'emprunteur</h5>
            <div class="form-group">
                <select name="usagerId" class="form-control" required>
                    
                    @foreach (var u in ViewBag.Usagers)
                    {
                        bool selectionne = ViewBag.userId == u.Id; 
                        string couleurTexte = u.PeutEmprunter == false ? "disabled" : "successMessage";
                        var nonPermis = !u.PeutEmprunter;
                        <option class=@couleurTexte value=@u.Id disabled=@nonPermis selected=@selectionne> @u.NumAbonne</option>
                    }
                </select>
                <p>Si un usager ne peut pas être sélectionné, il a soit trois défaillances ou plus à son dossier ou a trois livres ou plus d'empruntés qui n'ont pas encore été retournés. 
                Consultez le dossier de l'usager pour plus d'informations.</p>
            </div>
            @if (ViewBag.ErreurUsager != null)
            {
                <p class="errorMessage">@ViewBag.ErreurUsager   </p>
            }

            <hr />
            <h5>Sélectionnez le livre</h5>
            <div class="form-group">
                <select name="livreId" class="form-control" required>
                    @foreach (var l in ViewBag.Livres)
                    {
                        bool selectionne = ViewBag.livreId == l.Id;
                        bool restePlus = l.Quantite< 1;
                        string couleurTexte = restePlus == true ? "disabled" : "successMessage";
                        <option class=@couleurTexte value=@l.Id disabled=@restePlus selected=@selectionne> @l.CodeLivre</option>
                    }
                </select>
                <p>Si un livre ne peut pas être sélectionné, c'est qu'aucune copie n'est disponible présentement. Consultez la page du livre pour connaître les dates attendues de retour.</p>
            </div>
            @if (ViewBag.ErreurLivre != null)
            {
                <p class="errorMessage"> @ViewBag.ErreurLivre   </p>
            }
            <hr />
            <div class="form-group">
                <input type="submit" value="Créer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste des emprunts</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
